.hefe-reveal-parent {
    display: inline-block;
    position: relative;
}

.hefe-reveal-child-over {
    display: inline-block;
    position: relative;
}

.hefe-reveal-child-under {
    display: none;
    position: relative;
}