.hefe-tabs-link.hefe-tabs-style-02 {
	cursor: hand;
	cursor: pointer;
	display: block;
	padding: 9px 18px 10px;
	border: 1px solid #d7d7d7;
	border-radius: 6px;
	margin: 0 0 6px 0;
	background-color: #f7f7f7;
}

@media(min-width: 768px){
	.hefe-tabs-link.hefe-tabs-style-02 {
		margin:  0 3px 6px;
		display: inline-block;
	}
}

.hefe-tabs-link.hefe-tabs-style-02:hover {
	background-color: #fff;
}

.hefe-tabs-link.hefe-tabs-style-02.hefe-tabs-active {
	background-color: #fff;
}

.hefe-tabs-content.hefe-tabs-style-02 {
	display: block;
	width: 100%;
	padding: 18px;
	border: 1px solid #d7d7d7;
	border-radius: 6px;
	background-color: #fff;
}